.block_three_backgrond {
	@include flexbox(flex, column, flex-start, center);
	background: url(../img/background_block_three.png) center no-repeat;
	max-width: 1920px;
	width: 100%;
	.block_three {
		color: $c_white;
		#text_galary {
			color: $c_white;
		}
		.slider_2 {
			margin-bottom: 70px;
			div {
				img {
					margin-bottom: 10px;
				}
			}
			.slick-dots {
				bottom: -25px;
				li {
					padding: 0;
					width: 10px;
					height: 10px;
					button:before {
						content: "•";
						font-size: 10px;
						line-height: 50px;
						color: $c_white;
						opacity: 10;
						margin-left: 0;
						margin-right: 0;
					}
				}
			}
			.slick-dots li.slick-active button:before {
				color: $c_red;
			}
			.slick-slide:focus {
				outline: none;
			}
		}
		.but_more {
			color: $c_white;
			border-radius: 5px;
			background-color: $c_red;
			text-align: center;
		}
		.but_more:hover {
			color: $c_grey;
			background-color: $c_white;
		}
	}
}