.block_four_background {
	@include flexbox(flex, column, flex-start, center);
	/*background: url(../img/background_block_three.png) center no-repeat;*/
	max-width: 1920px;
	width: 100%;
	.block_four {
		color: $c_black;
		.shpon {
			@include flexbox(flex, row, space-around, flex-start);
			flex-wrap: wrap;
			margin: 20px 0;
			div {
				color: $c_red;
			}
			#massiv {
				color: $c_black;
			}
		}
		.slider_3 {
			@include flexbox(flex, column, flex-start, center);
			.slider_3_1, .slider_3_2, .slider_3_3 {
				max-width: 1000px;
				height: 100%;
				.slick-slide:focus {
					outline: none;
				}
				.slick-arrow {
					height: 100%;
					background: url(../img/arrow_prev.png) center no-repeat;
				}
				.slick-next {
					background: url(../img/arrow_next.png) center no-repeat;
				}
				.slick-prev:before, .slick-next:before {
					content: "";
				}
			}
		}
	}
}